body{

margin:0;

padding:0;

font-family:Arial;

background:linear-gradient(135deg,#667eea,#764ba2);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.3);

text-align:center;

width:400px;

}

h1{

color:#333;

margin-bottom:30px;

}

input{

width:90%;

padding:15px;

font-size:18px;

margin:10px;

border-radius:10px;

border:1px solid #ccc;

}

button{

padding:15px 30px;

background:#6c63ff;

color:white;

font-size:18px;

border:none;

border-radius:10px;

cursor:pointer;

transition:.3s;

margin-top:15px;

}

button:hover{

background:#4834d4;

transform:scale(1.05);

}