<!DOCTYPE html>
<html>

<head>

    <title>Password Generator</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>🔐 Password Generator</h1>

<form method="POST">

<input
type="number"
name="length"
placeholder="Enter Password Length"
min="8"
required>

<button type="submit">
Generate Password
</button>

</form>

{% if password %}

<input
type="text"
id="password"
value="{{password}}"
readonly>

<button onclick="copyPassword()">
Copy Password
</button>

{% endif %}

</div>

<script>

function copyPassword(){

var copy=document.getElementById("password");

copy.select();

document.execCommand("copy");

alert("Password Copied!");

}

</script>

</body>
</html>